@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
.uppercase {
  text-transform: uppercase; }

* {
  transition: ease-in-out .5s; }

header {
  height: 90px; }
  header form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: 60px; }
    header form input {
      width: 250px;
      border: 2px solid #6799ff;
      color: #6799ff;
      font-weight: bold;
      background: rgba(103, 153, 255, 0.25);
      outline: none;
      font-family: 'Montserrat', sans-serif; }
    header form button {
      background-color: #6799ff;
      border: none;
      margin-left: 25px;
      height: 35px;
      width: 90px;
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: bold; }
  header img {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -40px; }
  header img.at-top {
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
    width: 250px;
    margin-top: 30px;
    margin-left: 25px; }
  header form.at-top {
    position: absolute;
    top: 0;
    left: 470px;
    margin-top: 35px; }
    header form.at-top input {
      width: 250px;
      border: 2px solid #6799ff;
      color: #6799ff;
      font-weight: bold;
      background: rgba(103, 153, 255, 0.25);
      outline: none;
      font-family: 'Montserrat', sans-serif; }
    header form.at-top button {
      background-color: #6799ff;
      border: none;
      margin-left: 25px;
      height: 35px;
      width: 90px;
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: bold; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px; }

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 25px 15px; }
  .video-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center; }

.js-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.js-container img {
  width: 100%; }

a {
  text-decoration: none; }
